<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandeep Blog</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>Blog</h1></a>
            <p>Welcome to My Blog</p>
        </div>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blog/create">create</a></li>
        </ul>
    </nav>
    <div>
        <h1>All Blog Articles are Displayed Here</h1>
    </div>
</body>
</html>